body {
    background: #dce0f8;
    font-family: Helvetica;
    font-size: 1.5vw;
    font-weight: bold;
    margin: 0;
    padding: 0;
    transition: 0.25s;
    user-select: none;
    width: 100%;
}

.button {
    align-items: center;
    background: #ffffff;
    border: 0.3vw solid black;
    display: flex;
    flex-direction: column;
    height: 14vw;
    justify-content: space-around;
    margin-bottom: 5vw;
    text-align: center;
    transition: 0.5s;
    width: 24%;
}

.button:hover {
    border-radius: 2vw;
}

input[type="file"]::-webkit-file-upload-button {
    display: none;
}

form {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

input {
    background: none;
    border: none;
    cursor: pointer;
    height: 4vw;
    margin: 0;
    padding: 0;
    transition: 0.5s;
    width: 30%;
}

input[type="file"] {
    width: 54%;
}

.reset {
    cursor: pointer;
    transition: 0.5s;
}

.reset:hover{
    color: blue;
}
