::-webkit-scrollbar{
    width: auto;
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
    cursor: grab;
    background: #d6d6d6; 
}

::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3; 
}

::-webkit-scrollbar-thumb:active {
    background: #8d8d8d; 
    cursor: grabbing;
}


body {
    background: #dce0f8;
    font-family: Helvetica;
    font-size: 1.5vw;
    font-weight: bold;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
    transition: 0.25s;
    user-select: none;
    width: 100%;
}

.resetAll {
    color: black;
    cursor: pointer;
    left: 1%;
    position: fixed;
    top: 1%;
    transition: 0.5s;
}

.resetAll:hover {
    color: blue;
}

.select {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 7.5vw;
    justify-content: space-between;
    position: fixed;
    right: 1%;
    top: 1%;
    width: 18%;
}

.selectName {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 55%;
    justify-content: space-between;
    width: 100%;
}

.engineLogo {
    height: 90%;
}

.browserSelect {
    appearance: none;
    background: white;
    background-image: url("../img/rightArrow.svg");
    background-position: right;
    background-repeat: no-repeat;
    background-size: 20% 57%;
    border: black solid 0.2vw;
    cursor: pointer;
    font-family: helvetica;
    font-size: 2vw;
    height: 40%;
    outline: none;
    text-align: center;
    transition: 0.5s;
    width: 100%;
}   

.browserSelect:focus{
    background-image: url("../img/downArrow.svg");
}

.browserSelect:hover{
    border-radius: 2vw;
}

.buttons {
    bottom: 1%;
    position: fixed;
    right: 0%;
    text-align: center;
    width: 17%;
}

.download {
    cursor: pointer;
    transition: 0.5s;
    width: 25%;
}

.download:hover {
    fill: blue;
}

.upload {
    cursor: pointer;
    transition: 0.5s;
    width: 25%;
}

.upload:hover{
    fill: blue;
}

.button {
    align-items: center;
    background: white;
    border: 0.3vw solid black;
    display: flex;
    flex-direction: column;
    height: 14vw;
    justify-content: space-around;
    margin-bottom: 5vw;
    text-align: center;
    transition: 0.5s;
    width: 24%;
}

.button:hover {
    border-radius: 2vw;
}

.form {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.index {
    height: 0;
    left: -46%;
    position: relative;
    top: -2%;
    width: 0;
}

form {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

input {
    cursor: pointer;
}

input[type="color"] {
    background: none;
    border: none;
    border: 0.2vw solid black;
    height: 3vw;
    margin: 0;
    padding: 0;
    transition: 0.5s;
    width: 30%;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}

input[type="color"]::-webkit-color-swatch {
    border: none;
}

.wallpaperSelect {
    border: 0.2vw solid black;
    cursor: text;
    font-size: 1.8vw;
    height: 22%;
    outline: none;
    transition: 0.5s;
    width: 90%;
}

.wallpaperSelect::placeholder{
    color: black;
    text-align: center;
}

.wallpaperSelect:hover{
    border-radius: 10vw;
}

.selectFileLabel{
    cursor: pointer;
    font-size: 2vw;
    transition: 0.5s;
}

.selectFileLabel:hover{
    color: blue;
}

input[type="file"] {
    display: none;
    font-size: 1.8vw;
    width: 54%;
}

input[type="file"]::-webkit-file-upload-button {
    display: none;
}

input[type="range"] {
    appearance: none;
    height: 1vw;
    width: 80%;
}

input[type="range"]:focus {
    outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
    background: white;
    border: 0.15vw solid black;
    border-radius: 0vw;
    height: 1vw;
    transition: 0.5s;
    width: 100%;
}

input[type="range"]:hover::-webkit-slider-runnable-track {
    border-radius: 1vw;
    transition: 0.5s;
}

input[type="range"]::-webkit-slider-thumb {
    background: black;
    border-radius: 1vw;
    height: 2vw;
    margin-top: -3%;
    transition: 0.5s;
    -webkit-appearance: none;
    width: 2vw;
}

.value{
    cursor: text;
    user-select: text;
}

.reset {
    cursor: pointer;
    transition: 0.5s;
}

.reset:hover {
    color: blue;
}

@media (prefers-color-scheme: dark) {
    ::-webkit-scrollbar{
        width: auto;
    }

    ::-webkit-scrollbar-track {
        background: #424242; 
    }
    
    ::-webkit-scrollbar-thumb {
        background: #686868; 
    }
    
    ::-webkit-scrollbar-thumb:hover {
        background: #787878; 
    }

    ::-webkit-scrollbar-thumb:active {
        background: #878787; 
    }

    body {
        background: #2d3143;
        color: white;
    }

    .resetAll{
        color: white;
    }

    .resetAll:hover{
        color: #d590eb;
    }

    .selectName{
        color: white;
    }

    .browserSelect{
        border: #575757 solid 0.2vw;
        filter: invert(1);
    }
    
    option {
        background: black;
        color: white;
    }

    .download{
        fill: white;
    }

    .download:hover{
        fill: #d590eb;
    }

    .upload{
        fill: white;
    }

    .upload:hover{
        fill: #d590eb;
    }

    .button{
        background: black;
        border: 0.3vw solid #575757;
    }

    .wallpaperSelect {
        background: #121212;
        border: 0.2vw solid #575757;
        color: white;
    }

    .wallpaperSelect::placeholder{
        color: white;
        text-align: center;
    }

    .selectFileLabel:hover{
        color: #d590eb;
    }

    input[type="color"]{
        border: 0.2vw solid #575757;
    }

    input[type="range"]{
        background: black;
    }

    input[type="range"]::-webkit-slider-runnable-track {
        background: black;
        border: 0.15vw solid #575757;
    }

    input[type="range"]::-webkit-slider-thumb {
        background: white;
    }

    .reset:hover{
        color: #d590eb;
    }

  }